/**
 *   1. IMPORTS
 */
/* line 17, c:/Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, .dropbox .message, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, c:/Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, c:/Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, c:/Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, c:/Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, c:/Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, c:/Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, c:/Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, c:/Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/*
 *   2. FONTS
 */
@import url(http://fonts.googleapis.com/css?family=Lato:100|Droid+Serif);
/**
 *   3. COLORS
 */
/*$htmlBkg: #FBFF90;
$menuBkg: #2E1B00;
$htmlText: $menuBkg;
$menuText: #fff;
$highlight: #42A600;
$listBkg: #eee;
$detailBkg: #fff;
$border: #fff;
$scrollBar: #eee;
$scrollHandler: #aaa;

$activeBkg: $highlight;
$activeHover: #86E600;
$selectedBkg: #ddd;
$activeSelected: mix($activeBkg,$selectedBkg);
$hoverBkg: $activeHover;
$activeText : #fff;
$selectedText: $htmlText;
$hoverText: $htmlText;*/
/**
 *   4. SIZES
 */
/**
 *   5. IMAGES
 */
/**
 *   10. GENERICS
 */
/* line 8, ../sass/backoffice.scss */
html, body {
  background: #dddddd;
  color: #333333;
  font: 0.9em "Droid Serif", "Georgia", "Times New Roman", "Palatino", "Hoefler Text", "Baskerville", serif;
  min-height: 100%;
  line-height: 150%;
  overflow: auto;
}

/* line 17, ../sass/backoffice.scss */
p {
  margin: 30px 0;
  text-align: justify;
}

/* line 22, ../sass/backoffice.scss */
a {
  color: #333333;
  text-decoration: none;
}

/**
 *   11. SCROLLING
 */
/* line 31, ../sass/backoffice.scss */
#scrolling {
  margin-left: 235px;
  overflow: auto;
  position: relative;
}

/* line 37, ../sass/backoffice.scss */
#scrollingContent {
  padding-right: 30px;
}

/**
 *   12. PANEL GENERIC
 */
/* line 46, ../sass/backoffice.scss */
.panel, #menu {
  -moz-box-shadow: 0 0 6px rgba(51, 51, 51, 0.5);
  -webkit-box-shadow: 0 0 6px rgba(51, 51, 51, 0.5);
  -o-box-shadow: 0 0 6px rgba(51, 51, 51, 0.5);
  box-shadow: 0 0 6px rgba(51, 51, 51, 0.5);
  background: #eeeeee;
  border-right: white 1px solid;
  float: left;
  height: 100%;
  padding: 0 30px 30px;
  position: relative;
  width: 283px;
}
/* line 57, ../sass/backoffice.scss */
.panel header, #menu header {
  background: #eeeeee;
  border-bottom: 1px solid white;
  display: block;
  margin: -20px -30px 0;
  padding: 30px;
  width: 283px;
  z-index: 2;
}
/* line 68, ../sass/backoffice.scss */
.panel:first-child .close, #menu:first-child .close {
  display: none;
}

/* line 74, ../sass/backoffice.scss */
.loading {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  background: #333333;
  color: white;
  margin: 30px 0;
  padding: 3px 6px;
}
/* line 7, c:/Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/css3/_inline-block.scss */
.loading {
  *display: inline;
}

/* line 86, ../sass/backoffice.scss */
.list-block,
.html-block,
.form-block,
.gallery-block {
  margin: 30px 0;
}

/* line 91, ../sass/backoffice.scss */
.elements > li {
  position: relative;
}
/* line 94, ../sass/backoffice.scss */
.elements > li:hover {
  background: #cccccc;
  color: #333333;
}
/* line 98, ../sass/backoffice.scss */
.elements > li:hover .operations a {
  visibility: visible;
}
/* line 102, ../sass/backoffice.scss */
.elements > li:hover .selected {
  background: #d4d4d4;
}
/* line 107, ../sass/backoffice.scss */
.elements > li > a {
  display: block;
  line-height: 40px;
}
/* line 113, ../sass/backoffice.scss */
.elements input[type='checkbox'] {
  position: absolute;
  visibility: hidden;
}
/* line 118, ../sass/backoffice.scss */
.elements .operations {
  position: absolute;
}

/* line 125, ../sass/backoffice.scss */
.selected input[type='checkbox'],
li:hover input[type='checkbox'] {
  visibility: visible;
}

/* line 130, ../sass/backoffice.scss */
.close {
  color: rgba(51, 51, 51, 0.5);
  cursor: pointer;
  font-size: 15px;
  position: absolute;
  right: 30px;
  top: 30px;
}

/* line 140, ../sass/backoffice.scss */
a.iconic:hover {
  color: #ff3333;
}

/* line 145, ../sass/backoffice.scss */
.message_holder {
  background: rgba(221, 221, 221, 0.8);
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1000;
}

/* line 155, ../sass/backoffice.scss */
.message_box {
  -moz-box-shadow: 0 0 6px rgba(51, 51, 51, 0.5);
  -webkit-box-shadow: 0 0 6px rgba(51, 51, 51, 0.5);
  -o-box-shadow: 0 0 6px rgba(51, 51, 51, 0.5);
  box-shadow: 0 0 6px rgba(51, 51, 51, 0.5);
  background: #eeeeee;
  border: 1px solid white;
  margin: 20% auto;
  padding: 60px 30px 30px;
  position: relative;
  width: 500px;
}
/* line 165, ../sass/backoffice.scss */
.message_box header {
  background: #cccccc;
  font-weight: bold;
  left: 0;
  padding: 5px 30px;
  position: absolute;
  right: 0;
  top: 0;
}
/* line 175, ../sass/backoffice.scss */
.message_box .close {
  right: 10px;
  top: 5px;
}

/**
 *   13. MENU
 */
/* line 185, ../sass/backoffice.scss */
#menu {
  background: #333333;
  color: white;
  height: 100%;
  padding: 30px;
  position: fixed;
  width: 175px;
  z-index: 200;
}

/**
 *   14. LIST
 */
/* line 206, ../sass/backoffice.scss */
.list-block {
  margin-left: -30px;
  padding-left: 30px;
}
/* line 211, ../sass/backoffice.scss */
.list-block .elements > li {
  border-bottom: 1px solid white;
  margin: 0 -30px;
}
/* line 215, ../sass/backoffice.scss */
.list-block .elements > li:first-child {
  border-top: 1px solid white;
}
/* line 219, ../sass/backoffice.scss */
.list-block .elements > li > a {
  padding: 0 30px;
}
/* line 223, ../sass/backoffice.scss */
.list-block .elements > li input[type='checkbox'] {
  left: 6px;
  top: 10px;
}
/* line 228, ../sass/backoffice.scss */
.list-block .elements > li .operations {
  right: 10px;
  top: 0;
}

/* line 236, ../sass/backoffice.scss */
.active {
  background: #ff3333;
  color: white;
}
/* line 240, ../sass/backoffice.scss */
.active a {
  color: white;
}
/* line 244, ../sass/backoffice.scss */
.active:hover {
  background: #e60000 !important;
}
/* line 248, ../sass/backoffice.scss */
.active.selected {
  -moz-box-shadow: 0px 0px 5px 0;
  -webkit-box-shadow: 0px 0px 5px 0;
  -o-box-shadow: 0px 0px 5px 0;
  box-shadow: 0px 0px 5px 0;
  background: #ff8080 !important;
}

/* line 255, ../sass/backoffice.scss */
.selected {
  background: #dddddd;
  color: #333333;
}

/**
 *   15. DETAILS
 */
/* line 265, ../sass/backoffice.scss */
.detail {
  background: white;
  width: 458px;
}

/**
 *   16. GALLERY
 */
/* line 282, ../sass/backoffice.scss */
.gallery-block ul {
  margin: 15px -15px;
}
/* line 286, ../sass/backoffice.scss */
.gallery-block li {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  padding: 5px;
}
/* line 7, c:/Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/css3/_inline-block.scss */
.gallery-block li {
  *display: inline;
}
/* line 294, ../sass/backoffice.scss */
.gallery-block .elements > li input[type='checkbox'] {
  left: 8px;
  top: 10px;
  z-index: 2;
}
/* line 300, ../sass/backoffice.scss */
.gallery-block .elements > li .operations {
  top: 0;
}
/* line 306, ../sass/backoffice.scss */
.gallery-block img {
  -moz-transition-property: opacity;
  -webkit-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
  -moz-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  margin-bottom: -16px;
  position: relative;
  width: 130px;
}
/* line 314, ../sass/backoffice.scss */
.gallery-block figure {
  border: 3px solid #cccccc;
  min-height: 70px;
  position: relative;
  text-align: center;
  width: 130px;
  /*&:before{
    @include inline-block;
    
    color: $helper;
    content: '\e027';
    font: 36px 'IconicStroke';
    line-height: $thumbnailH;
    position: absolute;
    text-align: center;
    width: $thumbnailW;
  }*/
}
/* line 333, ../sass/backoffice.scss */
.gallery-block figure:hover {
  border-color: #cccccc;
}
/* line 336, ../sass/backoffice.scss */
.gallery-block figure:hover figcaption {
  visibility: visible;
}
/* line 340, ../sass/backoffice.scss */
.gallery-block figure:hover:before {
  color: #cccccc;
}
/* line 345, ../sass/backoffice.scss */
.gallery-block figure.actiu {
  border-color: #ff3333;
}
/* line 348, ../sass/backoffice.scss */
.gallery-block figure.actiu:before {
  color: #ff3333;
}
/* line 352, ../sass/backoffice.scss */
.gallery-block figure.actiu:hover {
  border-color: #e60000;
}
/* line 355, ../sass/backoffice.scss */
.gallery-block figure.actiu:hover:before {
  color: #e60000;
}
/* line 362, ../sass/backoffice.scss */
.gallery-block figcaption {
  background: rgba(51, 51, 51, 0.5);
  bottom: 0;
  color: white;
  left: 0;
  line-height: 120%;
  padding: 5px;
  position: absolute;
  right: 0;
  text-align: left;
  visibility: hidden;
}
/* line 376, ../sass/backoffice.scss */
.gallery-block .selectedChildren img {
  opacity: .4;
}
/* line 381, ../sass/backoffice.scss */
.gallery-block .selectedChildren .selected img {
  opacity: 1;
}

/**
 *   17. OPERATIONS
 */
/* line 395, ../sass/backoffice.scss */
.operationsMenu li,
.operations li {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  padding: 5px;
  visibility: hidden;
}
/* line 7, c:/Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/css3/_inline-block.scss */
.operationsMenu li,
.operations li {
  *display: inline;
}
/* line 402, ../sass/backoffice.scss */
.operationsMenu a,
.operations a {
  color: #333333;
  cursor: pointer;
  display: block;
  line-height: 20px !important;
}
/* line 408, ../sass/backoffice.scss */
.operationsMenu a:hover,
.operations a:hover {
  color: #ff3333;
}
/* line 413, ../sass/backoffice.scss */
.operationsMenu .multi, .operationsMenu .none, .operationsMenu .single,
.operations .multi,
.operations .none,
.operations .single {
  font: 18px IconicStrokeRegular;
}

/* line 418, ../sass/backoffice.scss */
.operations {
  margin: 2px 0;
  padding: 3px 6px;
}

/* line 423, ../sass/backoffice.scss */
.operationsMenu {
  margin: 15px -30px;
  overflow: auto;
  padding: 0 30px;
}
/* line 428, ../sass/backoffice.scss */
.operationsMenu .multi {
  background: rgba(221, 221, 221, 0.5);
}
/* line 431, ../sass/backoffice.scss */
.operationsMenu .none {
  float: right;
  visibility: visible;
}
/* line 435, ../sass/backoffice.scss */
.operationsMenu .counter {
  background: #dddddd;
  color: #333333;
  line-height: 20px;
  margin-left: -30px;
  visibility: visible;
  width: 100px;
}
/* line 443, ../sass/backoffice.scss */
.operationsMenu .counter a {
  color: rgba(51, 51, 51, 0.5);
  display: inline;
  font-size: 15px;
  line-height: 16px !important;
  padding: 5px;
}
/* line 450, ../sass/backoffice.scss */
.operationsMenu .counter a:hover {
  color: #ff3333;
}

/* line 460, ../sass/backoffice.scss */
.active .operationsMenu a,
.active .operations a {
  color: #333333;
}
/* line 463, ../sass/backoffice.scss */
.active .operationsMenu a:hover,
.active .operations a:hover {
  color: white;
}

/**
 *   18. FORM
 */
/* line 477, ../sass/backoffice.scss */
.form-block div {
  line-height: 40px;
}
/* line 483, ../sass/backoffice.scss */
.form-block input,
.form-block textarea,
.form-block select {
  border: none;
  font-family: "Droid Serif", "Georgia", "Times New Roman", "Palatino", "Hoefler Text", "Baskerville", serif;
  margin: -5px;
  padding: 5px;
  width: 100%;
  max-width: 100%;
}
/* line 494, ../sass/backoffice.scss */
.form-block input[type="checkbox"], .form-block input[type="radio"] {
  margin: 0 10px 0 30px;
  width: auto;
}

/* line 501, ../sass/backoffice.scss */
label {
  display: none;
}
/* line 505, ../sass/backoffice.scss */
input[type="checkbox"] + label, input[type="radio"] + label {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
}
/* line 7, c:/Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/css3/_inline-block.scss */
input[type="checkbox"] + label, input[type="radio"] + label {
  *display: inline;
}
/* line 510, ../sass/backoffice.scss */
.check label, .radio label {
  display: block;
}

/* line 515, ../sass/backoffice.scss */
.dropbox {
  background: #eeeeee;
  border: 3px dotted transparent;
  position: relative;
}
/* line 520, ../sass/backoffice.scss */
.dropbox .message {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
  padding: 30px;
  text-align: center;
  z-index: 10;
}
/* line 531, ../sass/backoffice.scss */
.dropbox li {
  position: relative;
  z-index: 1;
}

/* line 537, ../sass/backoffice.scss */
.fileOnDoc {
  border-color: #f87d7d;
}
/* line 540, ../sass/backoffice.scss */
.fileOnDoc .message {
  background: rgba(241, 204, 204, 0.8);
}

/* line 545, ../sass/backoffice.scss */
.fileOnDrag {
  border-color: #ff3333;
}
/* line 548, ../sass/backoffice.scss */
.fileOnDrag .message {
  background: rgba(243, 181, 181, 0.8);
}

/* line 555, ../sass/backoffice.scss */
.fileOnDoc .message,
.fileOnDrag .message {
  display: block;
}

/* line 560, ../sass/backoffice.scss */
.progressHolder {
  background: rgba(51, 51, 51, 0.5);
  display: none;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

/* line 569, ../sass/backoffice.scss */
.progress {
  background: #ff3333;
  margin: 5px 0;
  height: 6px;
  width: 0;
}

/* line 577, ../sass/backoffice.scss */
.done .progressHolder {
  background: rgba(51, 51, 51, 0.5);
}
/* line 581, ../sass/backoffice.scss */
.done .progress {
  background: transparent;
  height: 36px;
  margin: 10px 0;
}
/* line 586, ../sass/backoffice.scss */
.done .progress:before {
  color: white;
  content: '\2718';
  font: 36px 'IconicStroke';
}

/**
 *   18. FORM
 */
/**
 *   19. HEADINGS
 */
/* line 604, ../sass/backoffice.scss */
h1, h2, h3, h4, .dropbox .message, h5, h6 {
  color: #ff3333;
  font-family: Trebuchet, Arial, sans-serif;
}

/* line 609, ../sass/backoffice.scss */
h1 {
  font-size: 245%;
}

/* line 613, ../sass/backoffice.scss */
h2 {
  display: block;
  font-size: 210%;
}

/* line 618, ../sass/backoffice.scss */
h3 {
  font-size: 180%;
}

/* line 622, ../sass/backoffice.scss */
h4, .dropbox .message {
  font-size: 155%;
}

/* line 626, ../sass/backoffice.scss */
h5 {
  font-size: 135%;
}

/* line 630, ../sass/backoffice.scss */
h6 {
  font-size: 120%;
}

/**
 *   18. JSCROLLPANE
 */
/* line 639, ../sass/backoffice.scss */
.jspContainer {
  overflow: hidden;
  position: relative;
}
/* line 645, ../sass/backoffice.scss */
.jspContainer:hover > .jspVerticalBar, .jspContainer:hover > .jspHorizontalBar {
  visibility: visible;
}

/* line 651, ../sass/backoffice.scss */
.jspPane {
  position: absolute;
}

/* line 655, ../sass/backoffice.scss */
.jspVerticalBar {
  background: rgba(204, 204, 204, 0.3);
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 5px;
  width: 6px;
  height: 100%;
  visibility: hidden;
  z-index: 3;
}
/* line 667, ../sass/backoffice.scss */
.jspVerticalBar * {
  margin: 0;
  padding: 0;
}
/* line 672, ../sass/backoffice.scss */
.jspVerticalBar .jspArrow {
  height: 6px;
}
/* line 676, ../sass/backoffice.scss */
.jspVerticalBar .jspArrow:focus {
  outline: none;
}
/* line 680, ../sass/backoffice.scss */
.jspVerticalBar .jspDrag {
  background: #aaaaaa;
}

/* line 686, ../sass/backoffice.scss */
section .jspVerticalBar {
  display: block;
}

/* line 691, ../sass/backoffice.scss */
.jspHorizontalBar {
  background: rgba(51, 51, 51, 0.5);
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 5px 0;
  width: 100%;
  height: 6px;
  z-index: 200;
}
/* line 701, ../sass/backoffice.scss */
.jspHorizontalBar * {
  margin: 0;
  padding: 0;
}
/* line 706, ../sass/backoffice.scss */
.jspHorizontalBar .jspCap {
  float: left;
}
/* line 711, ../sass/backoffice.scss */
.jspHorizontalBar .jspTrack,
.jspHorizontalBar .jspDrag {
  float: left;
  height: 100%;
}
/* line 716, ../sass/backoffice.scss */
.jspHorizontalBar .jspDrag {
  background: #333333;
}
/* line 720, ../sass/backoffice.scss */
.jspHorizontalBar .jspArrow {
  width: 6px;
  float: left;
  height: 100%;
}

/* line 727, ../sass/backoffice.scss */
.jspCap {
  display: none;
}

/* line 732, ../sass/backoffice.scss */
.jspTrack {
  cursor: pointer;
  position: relative;
}

/* line 738, ../sass/backoffice.scss */
.jspDrag {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  position: relative;
  top: 0;
  left: 0;
  cursor: pointer;
}

/* line 747, ../sass/backoffice.scss */
.jspArrow {
  text-indent: -20000px;
  display: block;
  cursor: pointer;
}
/* line 753, ../sass/backoffice.scss */
.jspArrow .jspDisabled {
  cursor: default;
  background: rgba(204, 204, 204, 0.3);
}

/* line 760, ../sass/backoffice.scss */
.jspCorner {
  background: rgba(204, 204, 204, 0.3);
  float: left;
  height: 100%;
}

/* Yuk! CSS Hack for IE6 3 pixel bug :( */
/* line 769, ../sass/backoffice.scss */
* html .jspCorner {
  margin: 0 -3px 0 0;
}