/**
 *   1. IMPORTS
 */
/* line 17, c:/Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, .dropbox .message, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, c:/Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, c:/Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, c:/Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, c:/Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, c:/Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, c:/Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, c:/Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, c:/Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/*
 *   2. FONTS
 */
@import url(http://fonts.googleapis.com/css?family=Lato:100|Droid+Serif);
@font-face {
  font-family: 'LatoLight';
  src: url('../fonts/Lato-Light-webfont.eot');
  src: url('../fonts/Lato-Light-webfont.eot?#iefix') format("embedded-opentype"), url('../fonts/Lato-Light-webfont.woff') format("woff"), url('../fonts/Lato-Light-webfont.ttf') format("truetype"), url('../fonts/Lato-Light-webfont.svg#LatoLight') format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'LatoHairline';
  src: url('../fonts/Lato-Hairline-webfont.eot');
  src: url('../fonts/Lato-Hairline-webfont.eot?#iefix') format("embedded-opentype"), url('../fonts/Lato-Hairline-webfont.woff') format("woff"), url('../fonts/Lato-Hairline-webfont.ttf') format("truetype"), url('../fonts/Lato-Hairline-webfont.svg#LatoHairline') format("svg");
  font-weight: normal;
  font-style: normal;
}

/**
 *   3. COLORS
 */
/*$htmlBkg: #FBFF90;
$menuBkg: #2E1B00;
$htmlText: $menuBkg;
$menuText: #fff;
$highlight: #42A600;
$listBkg: #eee;
$detailBkg: #fff;
$border: #fff;
$scrollBar: #eee;
$scrollHandler: #aaa;

$activeBkg: $highlight;
$activeHover: #86E600;
$selectedBkg: #ddd;
$activeSelected: mix($activeBkg,$selectedBkg);
$hoverBkg: $activeHover;
$activeText : #fff;
$selectedText: $htmlText;
$hoverText: $htmlText;*/
/**
 *   4. SIZES
 */
/**
 *   5. IMAGES
 */
/**
 *   10. GENERICS
 */
/* line 8, ../sass/main.scss */
html, body {
  background: #dddddd;
  color: #333333;
  font: 0.9em "Droid Serif", "Georgia", "Times New Roman", "Palatino", "Hoefler Text", "Baskerville", serif;
  min-height: 100%;
  line-height: 150%;
  overflow: auto;
}

/* line 17, ../sass/main.scss */
p {
  margin: 30px 0;
  text-align: justify;
}

/* line 22, ../sass/main.scss */
a {
  color: #333333;
  text-decoration: none;
}

/**
 *   11. SCROLLING
 */
/* line 31, ../sass/main.scss */
#scrolling {
  margin-left: 235px;
  overflow: auto;
  position: relative;
}

/* line 37, ../sass/main.scss */
#scrollingContent {
  padding-right: 30px;
}

/**
 *   12. PANEL GENERIC
 */
/* line 46, ../sass/main.scss */
.panel, #menu {
  -moz-box-shadow: 0 0 6px rgba(51, 51, 51, 0.5);
  -webkit-box-shadow: 0 0 6px rgba(51, 51, 51, 0.5);
  -o-box-shadow: 0 0 6px rgba(51, 51, 51, 0.5);
  box-shadow: 0 0 6px rgba(51, 51, 51, 0.5);
  background: #eeeeee;
  border-right: white 1px solid;
  float: left;
  height: 100%;
  padding: 0 30px 30px;
  position: relative;
  width: 283px;
}
/* line 57, ../sass/main.scss */
.panel header, #menu header {
  background: #eeeeee;
  border-bottom: 1px solid white;
  display: block;
  margin: -20px -30px 0;
  padding: 30px;
  width: 283px;
  z-index: 2;
}
/* line 68, ../sass/main.scss */
.panel:first-child .close, #menu:first-child .close {
  display: none;
}

/* line 74, ../sass/main.scss */
.loading {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  background: #333333;
  color: white;
  margin: 30px 0;
  padding: 3px 6px;
}
/* line 7, c:/Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/css3/_inline-block.scss */
.loading {
  *display: inline;
}

/* line 84, ../sass/main.scss */
.list-block,
.html-block {
  margin: 30px 0;
}

/* line 89, ../sass/main.scss */
.elements > li {
  position: relative;
}
/* line 92, ../sass/main.scss */
.elements > li:hover {
  background: #cccccc;
  color: #333333;
}
/* line 96, ../sass/main.scss */
.elements > li:hover .operations a {
  visibility: visible;
}
/* line 100, ../sass/main.scss */
.elements > li:hover .selected {
  background: #d4d4d4;
}
/* line 105, ../sass/main.scss */
.elements > li > a {
  display: block;
  line-height: 40px;
}
/* line 111, ../sass/main.scss */
.elements input[type='checkbox'] {
  position: absolute;
}
/* line 115, ../sass/main.scss */
.elements .operations {
  position: absolute;
}

/* line 120, ../sass/main.scss */
input[type='checkbox'] {
  visibility: hidden;
}

/* line 126, ../sass/main.scss */
.selected input[type='checkbox'],
li:hover input[type='checkbox'] {
  visibility: visible;
}

/* line 131, ../sass/main.scss */
.close {
  color: rgba(51, 51, 51, 0.5);
  cursor: pointer;
  font-size: 15px;
  position: absolute;
  right: 30px;
  top: 30px;
}

/* line 141, ../sass/main.scss */
a.iconic:hover {
  color: #ff3333;
}

/* line 146, ../sass/main.scss */
.message_holder {
  background: rgba(221, 221, 221, 0.8);
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1000;
}

/* line 156, ../sass/main.scss */
.message_box {
  -moz-box-shadow: 0 0 6px rgba(51, 51, 51, 0.5);
  -webkit-box-shadow: 0 0 6px rgba(51, 51, 51, 0.5);
  -o-box-shadow: 0 0 6px rgba(51, 51, 51, 0.5);
  box-shadow: 0 0 6px rgba(51, 51, 51, 0.5);
  background: #eeeeee;
  border: 1px solid white;
  margin: 20% auto;
  padding: 60px 30px 30px;
  position: relative;
  width: 500px;
}
/* line 166, ../sass/main.scss */
.message_box .close {
  right: 10px;
  top: 10px;
}

/**
 *   13. MENU
 */
/* line 176, ../sass/main.scss */
#menu {
  background: #333333;
  color: white;
  height: 100%;
  padding: 30px;
  position: fixed;
  width: 175px;
  z-index: 200;
}

/**
 *   14. LIST
 */
/* line 197, ../sass/main.scss */
.list-block {
  margin-left: -30px;
  padding-left: 30px;
}
/* line 202, ../sass/main.scss */
.list-block .elements > li {
  border-bottom: 1px solid white;
  margin: 0 -30px;
}
/* line 206, ../sass/main.scss */
.list-block .elements > li > a {
  padding: 0 30px;
}
/* line 210, ../sass/main.scss */
.list-block .elements > li input[type='checkbox'] {
  left: 6px;
  top: 10px;
}
/* line 215, ../sass/main.scss */
.list-block .elements > li .operations {
  right: 10px;
  top: 0;
}

/* line 223, ../sass/main.scss */
.active {
  background: #ff3333;
  color: white;
}
/* line 227, ../sass/main.scss */
.active a {
  color: white;
}
/* line 231, ../sass/main.scss */
.active:hover {
  background: #e60000 !important;
}
/* line 235, ../sass/main.scss */
.active.selected {
  -moz-box-shadow: 0px 0px 5px 0;
  -webkit-box-shadow: 0px 0px 5px 0;
  -o-box-shadow: 0px 0px 5px 0;
  box-shadow: 0px 0px 5px 0;
  background: #ff8080 !important;
}

/* line 242, ../sass/main.scss */
.selected {
  background: #dddddd;
  color: #333333;
}

/**
 *   15. DETAILS
 */
/* line 252, ../sass/main.scss */
.detail {
  background: white;
  width: 458px;
}

/**
 *   16. GALLERY
 */
/* line 269, ../sass/main.scss */
.gallery-block ul {
  margin: 15px -15px;
}
/* line 273, ../sass/main.scss */
.gallery-block li {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  padding: 5px;
}
/* line 7, c:/Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/css3/_inline-block.scss */
.gallery-block li {
  *display: inline;
}
/* line 281, ../sass/main.scss */
.gallery-block .elements > li input[type='checkbox'] {
  left: 8px;
  top: 10px;
  z-index: 2;
}
/* line 287, ../sass/main.scss */
.gallery-block .elements > li .operations {
  top: 0;
}
/* line 293, ../sass/main.scss */
.gallery-block img {
  -moz-transition-property: opacity;
  -webkit-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
  -moz-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  margin-bottom: -16px;
  position: relative;
  width: 130px;
}
/* line 301, ../sass/main.scss */
.gallery-block figure {
  border: 3px solid #cccccc;
  min-height: 70px;
  position: relative;
  text-align: center;
  width: 130px;
  /*&:before{
    @include inline-block;
    
    color: $helper;
    content: '\e027';
    font: 36px 'IconicStroke';
    line-height: $thumbnailH;
    position: absolute;
    text-align: center;
    width: $thumbnailW;
  }*/
}
/* line 320, ../sass/main.scss */
.gallery-block figure:hover {
  border-color: #cccccc;
}
/* line 323, ../sass/main.scss */
.gallery-block figure:hover figcaption {
  visibility: visible;
}
/* line 327, ../sass/main.scss */
.gallery-block figure:hover:before {
  color: #cccccc;
}
/* line 332, ../sass/main.scss */
.gallery-block figure.actiu {
  border-color: #ff3333;
}
/* line 335, ../sass/main.scss */
.gallery-block figure.actiu:before {
  color: #ff3333;
}
/* line 339, ../sass/main.scss */
.gallery-block figure.actiu:hover {
  border-color: #e60000;
}
/* line 342, ../sass/main.scss */
.gallery-block figure.actiu:hover:before {
  color: #e60000;
}
/* line 349, ../sass/main.scss */
.gallery-block figcaption {
  background: rgba(51, 51, 51, 0.5);
  bottom: 0;
  color: white;
  left: 0;
  line-height: 120%;
  padding: 5px;
  position: absolute;
  right: 0;
  text-align: left;
  visibility: hidden;
}
/* line 363, ../sass/main.scss */
.gallery-block .selectedChildren img {
  opacity: .4;
}
/* line 368, ../sass/main.scss */
.gallery-block .selectedChildren .selected img {
  opacity: 1;
}

/**
 *   17. OPERATIONS
 */
/* line 382, ../sass/main.scss */
.operationsMenu li,
.operations li {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  padding: 5px;
  visibility: hidden;
}
/* line 7, c:/Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/css3/_inline-block.scss */
.operationsMenu li,
.operations li {
  *display: inline;
}
/* line 389, ../sass/main.scss */
.operationsMenu a,
.operations a {
  color: #333333;
  cursor: pointer;
  display: block;
  line-height: 20px !important;
}
/* line 395, ../sass/main.scss */
.operationsMenu a:hover,
.operations a:hover {
  color: #ff3333;
}
/* line 400, ../sass/main.scss */
.operationsMenu .multi, .operationsMenu .none, .operationsMenu .single,
.operations .multi,
.operations .none,
.operations .single {
  font: 18px IconicStrokeRegular;
}

/* line 405, ../sass/main.scss */
.operations {
  margin: 2px 0;
  padding: 3px 6px;
}

/* line 410, ../sass/main.scss */
.operationsMenu {
  margin: 15px -30px;
  padding: 0 30px;
}
/* line 414, ../sass/main.scss */
.operationsMenu .multi {
  background: rgba(221, 221, 221, 0.5);
}
/* line 417, ../sass/main.scss */
.operationsMenu .none {
  float: right;
  visibility: visible;
}
/* line 421, ../sass/main.scss */
.operationsMenu .counter {
  background: #dddddd;
  color: #333333;
  line-height: 20px;
  margin-left: -30px;
  visibility: visible;
  width: 100px;
}
/* line 429, ../sass/main.scss */
.operationsMenu .counter a {
  color: rgba(51, 51, 51, 0.5);
  display: inline;
  font-size: 15px;
  line-height: 16px !important;
  padding: 5px;
}
/* line 436, ../sass/main.scss */
.operationsMenu .counter a:hover {
  color: #ff3333;
}

/* line 446, ../sass/main.scss */
.active .operationsMenu a,
.active .operations a {
  color: #333333;
}
/* line 449, ../sass/main.scss */
.active .operationsMenu a:hover,
.active .operations a:hover {
  color: white;
}

/**
 *   18. FORM
 */
/* line 462, ../sass/main.scss */
.dropbox {
  background: #eeeeee;
  border: 3px dotted transparent;
  position: relative;
}
/* line 467, ../sass/main.scss */
.dropbox .message {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
  padding: 30px;
  text-align: center;
  z-index: 10;
}
/* line 478, ../sass/main.scss */
.dropbox li {
  position: relative;
  z-index: 1;
}

/* line 484, ../sass/main.scss */
.fileOnDoc {
  border-color: #f87d7d;
}
/* line 487, ../sass/main.scss */
.fileOnDoc .message {
  background: rgba(241, 204, 204, 0.8);
}

/* line 492, ../sass/main.scss */
.fileOnDrag {
  border-color: #ff3333;
}
/* line 495, ../sass/main.scss */
.fileOnDrag .message {
  background: rgba(243, 181, 181, 0.8);
}

/* line 502, ../sass/main.scss */
.fileOnDoc .message,
.fileOnDrag .message {
  display: block;
}

/* line 507, ../sass/main.scss */
.progressHolder {
  background: rgba(51, 51, 51, 0.5);
  display: none;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

/* line 516, ../sass/main.scss */
.progress {
  background: #ff3333;
  margin: 5px 0;
  height: 6px;
  width: 0;
}

/* line 524, ../sass/main.scss */
.done .progressHolder {
  background: rgba(51, 51, 51, 0.5);
}
/* line 528, ../sass/main.scss */
.done .progress {
  background: transparent;
  height: 36px;
  margin: 10px 0;
}
/* line 533, ../sass/main.scss */
.done .progress:before {
  color: white;
  content: '\2718';
  font: 36px 'IconicStroke';
}

/**
 *   18. FORM
 */
/**
 *   19. HEADINGS
 */
/* line 551, ../sass/main.scss */
h1, h2, h3, h4, .dropbox .message, h5, h6 {
  color: #ff3333;
  font-family: "Lato", "LatoHairline", Trebuchet, Arial, sans-serif;
}

/* line 556, ../sass/main.scss */
h1 {
  font-size: 245%;
}

/* line 560, ../sass/main.scss */
h2 {
  display: block;
  font-size: 210%;
}

/* line 565, ../sass/main.scss */
h3 {
  font-size: 180%;
}

/* line 569, ../sass/main.scss */
h4, .dropbox .message {
  font-size: 155%;
}

/* line 573, ../sass/main.scss */
h5 {
  font-size: 135%;
}

/* line 577, ../sass/main.scss */
h6 {
  font-size: 120%;
}

/**
 *   18. JSCROLLPANE
 */
/* line 586, ../sass/main.scss */
.jspContainer {
  overflow: hidden;
  position: relative;
}
/* line 592, ../sass/main.scss */
.jspContainer:hover > .jspVerticalBar, .jspContainer:hover > .jspHorizontalBar {
  visibility: visible;
}

/* line 598, ../sass/main.scss */
.jspPane {
  position: absolute;
}

/* line 602, ../sass/main.scss */
.jspVerticalBar {
  background: rgba(204, 204, 204, 0.3);
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 5px;
  width: 6px;
  height: 100%;
  visibility: hidden;
  z-index: 3;
}
/* line 614, ../sass/main.scss */
.jspVerticalBar * {
  margin: 0;
  padding: 0;
}
/* line 619, ../sass/main.scss */
.jspVerticalBar .jspArrow {
  height: 6px;
}
/* line 623, ../sass/main.scss */
.jspVerticalBar .jspArrow:focus {
  outline: none;
}
/* line 627, ../sass/main.scss */
.jspVerticalBar .jspDrag {
  background: #aaaaaa;
}

/* line 633, ../sass/main.scss */
section .jspVerticalBar {
  display: block;
}

/* line 638, ../sass/main.scss */
.jspHorizontalBar {
  background: rgba(51, 51, 51, 0.5);
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 5px 0;
  width: 100%;
  height: 6px;
  z-index: 200;
}
/* line 648, ../sass/main.scss */
.jspHorizontalBar * {
  margin: 0;
  padding: 0;
}
/* line 653, ../sass/main.scss */
.jspHorizontalBar .jspCap {
  float: left;
}
/* line 658, ../sass/main.scss */
.jspHorizontalBar .jspTrack,
.jspHorizontalBar .jspDrag {
  float: left;
  height: 100%;
}
/* line 663, ../sass/main.scss */
.jspHorizontalBar .jspDrag {
  background: #333333;
}
/* line 667, ../sass/main.scss */
.jspHorizontalBar .jspArrow {
  width: 6px;
  float: left;
  height: 100%;
}

/* line 674, ../sass/main.scss */
.jspCap {
  display: none;
}

/* line 679, ../sass/main.scss */
.jspTrack {
  cursor: pointer;
  position: relative;
}

/* line 685, ../sass/main.scss */
.jspDrag {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  position: relative;
  top: 0;
  left: 0;
  cursor: pointer;
}

/* line 694, ../sass/main.scss */
.jspArrow {
  text-indent: -20000px;
  display: block;
  cursor: pointer;
}
/* line 700, ../sass/main.scss */
.jspArrow .jspDisabled {
  cursor: default;
  background: rgba(204, 204, 204, 0.3);
}

/* line 707, ../sass/main.scss */
.jspCorner {
  background: rgba(204, 204, 204, 0.3);
  float: left;
  height: 100%;
}

/* Yuk! CSS Hack for IE6 3 pixel bug :( */
/* line 716, ../sass/main.scss */
* html .jspCorner {
  margin: 0 -3px 0 0;
}
