/**
 *   1. IMPORTS
 */

@import "compass/reset";
@import "compass/css3";
@import "compass/css3/transition";
@import "compass/layout/stretching";


/*
 *   2. FONTS
 */
@import url(http://fonts.googleapis.com/css?family=Lato:100|Droid+Serif);


$titleFont: Trebuchet, Arial, sans-serif;
$textFont: "Droid Serif", "Georgia", "Times New Roman", "Palatino", "Hoefler Text", "Baskerville", serif; ;

/**
 *   3. COLORS
 */

/*$htmlBkg: #FBFF90;
$menuBkg: #2E1B00;
$htmlText: $menuBkg;
$menuText: #fff;
$highlight: #42A600;
$listBkg: #eee;
$detailBkg: #fff;
$border: #fff;
$scrollBar: #eee;
$scrollHandler: #aaa;

$activeBkg: $highlight;
$activeHover: #86E600;
$selectedBkg: #ddd;
$activeSelected: mix($activeBkg,$selectedBkg);
$hoverBkg: $activeHover;
$activeText : #fff;
$selectedText: $htmlText;
$hoverText: $htmlText;*/

$htmlBkg: #ddd;
$htmlText: #333;
$menuBkg: #333;
$menuText: #fff;
$highlight: #f33;
$listBkg: #eee;
$detailBkg: #fff;
$headerBkg: #ddd;
$border: #fff;

$scrollVHandler: #aaa;
$scrollVBar: rgba(#ccc,.3);
$scrollHHandler: $menuBkg;
$scrollHBar: rgba($menuBkg,.5);

$helper: #ccc;

$activeBkg: $highlight;
$activeSelectedBkg: lighten($highlight,15);
$activeHoverBkg: darken($highlight,15);
$selectedBkg: #ddd;
$hoverBkg: #ccc;
$activeText : #fff;
$selectedText: $htmlText;
$hoverText: $htmlText;

$shadowColor: rgba($menuBkg,.5);

$drop: $listBkg;
$dropHoleBorder: mix($activeBkg, $listBkg, 60);
$dropHoverBorder: $activeBkg;
$dropHole: rgba(mix($dropHoleBorder, $drop, 30), .8);
$dropHover: rgba(mix($dropHoverBorder, $drop, 30), .8);

$photoHover: $scrollHBar;
$photoHoverText: $menuText;


/**
 *   4. SIZES
 */

$phi: 1.61803399;
$sqrt2: 1.41421356;

$menuWidth: 175px;
$listWidth: round($menuWidth*$phi);
$detailWidth: round($menuWidth*$phi*$phi);
$gutter: 30px;
$padding: 5px;
$scrollSize: 6px;
$scrollMargin : 5px;
$listItemHeight: 40px;

$shadowBlur: 6px;

$thumbnailW: 130px;
$thumbnailH: 70px;

$duration: .5s;

$iconSize: 30px;

/**
 *   5. IMAGES
 */

$textureW: 'white_texture.png';
$textureB: 'dark_leather.png';